:root {
    --color-background-light: #fff;
    --color-font-light: #000;

    --color-background-dark: #1d1d1f;
    --color-font-dark: #fff;

    --color-primary: #99ccff;
    --color-secondary: #ff50e1;
}
